<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.fabioeloi.LibreSensorTestApp</string>
	<key>NFCReaderUsageDescription</key>
	<string>We need to access NFC to read your Freestyle Libre sensor.</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>We need Bluetooth access to connect to your Freestyle Libre sensor for continuous glucose monitoring.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>We need Bluetooth access to connect to your Freestyle Libre sensor for continuous glucose monitoring.</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>com.apple.developer.nfc.readersession.iso15693.compliance</key>
	<array>
		<string>ISO15693</string>
	</array>
</dict>
</plist>
